{% extends "base.html" %}
{% block title %}Welcome to Openrecip.es{% endblock %}
{% block head %}
{% block content %}

{%if recipes %}
    {% set max = 20 %}
    {% for each_recipe in recipes %}
      {%- if loop.index > max %}{% break %}{% endif %}
        <div class="recipe">
            <span class="recipe_box name" style="display:block">{{ each_recipe['name'] }}</span>
            <span class="recipe_box image" style="display:block">
                <a href="$each_recipe['url']"><img src="{{ each_recipe['image'] }}" style="width:200px;height:200px"/></a>
            </span>
        </div>
    {%- endfor %}
{% else %}
    <div class="error">ERROR: Could not render recipes!</div>
{% endif %}
{% endblock %}
{% endblock %}
